.main {
	display: flex;
	flex-direction: row;
	
	margin-top:200px;
	margin-left:50px;
	
}

section{
	/*lista normal*/
}

aside{
	/*lista de favoritos*/
}

figCaption{
	/*nombres*/
}

img{
	/*fotos*/
}

